<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Locadora::Login </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container">

        <h1>Cadastro de Filme</h1>

        <div sec:authorize="isAuthenticated()" >
            <form method="post" action="/filme">
                <div class="form-group">
                    <label for="formNome">Filme</label>
                    <input type="text" class="form-control" id="formNome" name="nome" placeholder="Um filme qualquer"/>
                </div>
                <div class="form-group">
                    <label for="formEstoque">Estoque</label>
                    <input type="number" class="form-control" id="formEstoque" name="estoque" placeholder="Quantidade em estoque"/>
                </div>
                <div class="form-group">
                    <label for="formPrecoLocacao">Valor</label>
                    <input type="number" class="form-control" id="formPrecoLocacao" name="precoLocacao" placeholder="Valor da locação"/>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>

        <div th:unless="${#lists.isEmpty(filmes)}">
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Estoque</th>
                        <th>Preço de Locação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="filme : ${filmes}" >
                        <th th:text="${filme.id}" scope="row"/>
                        <td th:text="${filme.nome}"/>
                        <td th:text="${filme.estoque}"/>
                        <td th:text="${filme.precoLocacao}"/>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>
